<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <h2>El usuario conectado es:</h2>
    <% if (login) { %>
        <h1>El usuario conectado es: <strong><%= name %></strong></h1>
        <a href="logout" class="a-logout">Logout</a>
    <% } else {  %>
        <h1><strong><%= name %></strong></h1>
        <a href="login" class="a-login">Ir al Login</a>
    
    <% } %>
    
</body>
</html>-->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
  <title>ReportMant</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>

  <header>
    <div class="nav-bar">
      <a href="/">
      <img src="img/reportmant.png" class="logo">
      </a>

      <div class="navigation">

        <div class="nav-items">
          <i class="uil uil-times nav-close-btn"></i>
          <div class="opciones">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="about">About us</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a href="formulario">Form</a></li>
              <li><a href="follow">Follow-up</a></li>
              <li><a href="record">Record</a></li>

              <li class="dropdown">
                <a href="#">Login</a>
                <div class="dropdown-content">
                  <a href="register">Create account</a>
                  <a href="login">Sign in</a>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <i class="uil uil-apps nav-menu-btn"></i>
    </div>
    <div class="scroll-indicator-container">
      <div class="scroll-indicator-bar"></div>
    </div>
  </header>

  <% if (login) { %>
    <div class="user-info">
        <h1>Bienvenido: <strong><%= name %></strong></h1>
        <% if (lastLogin) { %>
            <p>Última conexión: <%= lastLogin %></p>
        <% } else { %>
            <p>No hay información sobre la última conexión.</p>
        <% } %>
        <a href="/logout" class="btn btn-logout">Logout</a>
    </div>
<% } else { %>
    <div class="user-info">
        <h1><strong><%= name %></strong></h1>
        <a href="/login" class="btn btn-login">Ir al login</a>
    </div>
<% } %>

  <section class="home">
    <h1>ReportMant</h1>
  </section>

  <section class="content">
    <h1>Description</h1>
    <p>Tool which facilitates the way to organize, to resolve and follow up on these technical failures in the
      maintenance of the university, it is essential to implement an efficient system for receiving and assigning
      reports. This, including a centralized digital registry to track reports, helps assign clear responsibilities and
      fluid communication between managers and requesters, helps to keep a quote for repairs.</p>

  </section>

  <div class="carrusel">
    <div class="slider">
      <div class="slides">

        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">

        <div class="slide first">
          <img
            src="https://www.ocu.org/-/media/ocu/images/home/vivienda%20y%20energia/equipamiento%20hogar/herramientas%20cabecera.jpg?"
            alt="">
        </div>
        <div class="slide">
          <img src="https://hacemosmantenimiento.com/wp-content/uploads/2020/05/Mantenimiento_residencial.jpg" alt="">
        </div>
        <div class="slide">
          <img src="https://mobility-work.com/wp-content/uploads/2021/02/IOT_maintenance_previsionelle.jpg" alt="">
        </div>
        <div class="slide">
          <img src="https://www.alertadigital.com/wp-content/uploads/2023/05/empresa-de-limpieza.jpg" alt="">
        </div>

        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
        </div>

      </div>

      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
      </div>

    </div>
  </div>


  <div class="container-i">
    <div class="card">
      <h3 class="title">Form<li><a href="formulario">Ir</a></li></h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
        <div class="gif-container">
          <img src="img/libro.gif" alt="Animación">
        </div>
      </div>
    </div>
    <div class="card">
      <h3 class="title">Follow-up <li><a href="follow">Ir</a></li></h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
        <div class="gif-container">
          <img src="img/camino.gif" alt="Animación">
        </div>
      </div>
    </div>
    <div class="card">
      <h3 class="title">Record <li><a href="record">Ir</a></li></h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="stroke" cx="60" cy="60" r="50" />
          </svg>
          <div class="gif-container">
            <img src="img/puntaje.gif" alt="Animación">
          </div>
      </div>
    </div>
  </div>

  </div>



  <div class="separation"></div>
  <div class="container-footer">

    <footer>

      <div class="footer-img">
        <img src="principal/img/reportmant.png" alt="">
      </div>
      <div class="redes-footer">
        <a href="#"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
        <a href="#"><i class="fab fa-google-plus-g icon-redes-footer"></i></a>
        <a href="#"><i class="fab fa-instagram icon-redes-footer"></i></a>
      </div>
      <hr>
      <h4>Copyright ReporMant - All rights reserved</h4>

    </footer>
  </div>





  <script src="js/script.js"></script>
</body>

</html>